################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Genealogy/genealogy.client/.vscode
/Genealogy/Genealogy.Server/obj
/Genealogy/.vs
/Genealogy/genealogy.client/obj
/Genealogy/Genealogy.Server/bin
